asgiref==3.8.1
Django==5.0
django-widget-tweaks==1.5.0
django-debug-toolbar==4.3.0
djangorestframework==3.14.0
gunicorn==23.0.0
packaging==25.0
Pillow==10.2.0
plotly==5.21.0
pandas==2.2.2
psycopg2-binary==2.9.9
python-dateutil==2.9.0
sqlparse==0.5.3
tzdata==2025.2
whitenoise==6.9.0
python-dotenv==1.0.1
django-cleanup==8.1.0
requests==2.31.0
bootstrap5==23.3
django-bootstrap5==23.3
django-chartjs==2.3.0 